{% extends "base.html" %}
{% load static %}
  <title>{% block title %}꼬북꼬북{% endblock %}</title>
  {% block extra_css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="/static/css/mainpage.css" />
  {% endblock %}
{% block content %}

    <div class="mainBanner">
      <div class="swiper myBannerSwiper">
        <div class="swiper-wrapper">
          <!-- 슬라이드 1 -->
          <div class="swiper-slide" style='background: #bba3c9;'>
            <div class="mainBanner__center">
              <div class="mainBanner__center__text">
                  <div class="mainBanner__center__title">내일 모든 걸 잊는다 해도<br> 가장 행복한 '오늘'을 줄게</div>
                  <div class="mainBanner__center__subtitle">레이디 그레이<br>잊지 못할 여름향기</div>
                </div>
                <div  class='mainBanner__bookcover'><img src="/static/images/home/banner_1.jpg"></div>

            </div>
          </div>

          <!-- 슬라이드 2 -->
          <div class="swiper-slide" style="background: #b6c5d1;">
            <div class="mainBanner__center">
                <div class="mainBanner__center__text">
                  <div class="mainBanner__center__title">똘병이의 스타성...<br>인형 똘병이는 어떻게 성공했나</div>
                  <div class="mainBanner__center__subtitle">똘병이가 좋아 내가 좋아?<br>**당연히소희지</div>
                </div>
                <div class='mainBanner__bookcover'><img src="/static/images/home/banner_2.jpg"></div>

              </div>
          </div>

          <!-- 슬라이드 3 -->
          <div class="swiper-slide" style="background: #b2d6aa;">
            <div class="mainBanner__center">
              <div class="mainBanner__center__text">
                  <div class="mainBanner__center__title">'어떻게 성공할 것이냐'에서<br> '어떻게 살 것이냐'로</div>
                  <div class="mainBanner__center__subtitle">삶은 성공이 아닌 성장의 이야기다<br>'리틀 미'의 가치를 되새기는 여정 </div>
                </div>

                <div class='mainBanner__bookcover'><img src="/static/images/home/banner_3.jpg"></div>

            </div>
          </div>
        
        </div>

        
        <div class="swiper-pagination"></div>
      </div>
    </div>

{% if not request.session.user_id %}
  <!--로그인 세션 없을때-->
  <div class="exchngreading">
    <!-- 참여중인 그룹 표시 -->
    <div class="feed__join">
      <div class="feed__join_main">
        <h4>꼬북꼬북은 어떤 곳인가요?</h4>
        <br>
        <div>
          <p>책을 읽고 사람들과 이야기를 나누는</p>
          <p>“따뜻한 독서 커뮤니티 플랫폼”, 꼬북꼬북입니다.</p>
          <p>당신의 감상을 들려주세요!</p>
        </div>
        <a href='/member/join1/'><button type='button'>회원가입</button></a>
      </div>
    </div>
  </div>
  
{% else %}
<!--로그인 세션 있을때-->
  <div class="exchngreading">
    <!-- 참여중인 그룹 표시 -->
    <div class="feed__join">
        <div class="feed__join_title">
            <span>인기 교환독서 그룹</span>
        </div>
        <div class="feed__join_body">
            <div class="feed__join_body_item">
                <div class="join_body_item_book">
                    <img src="/static/images/home/exchange_1.jpg" alt="[예술과 중력가속도] 낙하 끝의 비상">
                </div>
                <div class="join_body_item_groupName">
                    [예술과 중력가속도] 낙하 끝의 비상
                </div>
            </div>
            <div class="feed__join_body_item">
                <div class="join_body_item_book">
                    <img src="/static/images/home/exchange_2.jpg" alt="[7인의 집행관] 당신은 유죄인가?">
                </div>
                <div class="join_body_item_groupName">
                    [7인의 집행관] 당신은 유죄인가?
                </div>
            </div>
            <div class="feed__join_body_item">
                <div class="join_body_item_book">
                    <img src="/static/images/home/exchange_3.jpg" alt="[도리언 그레이의 초상] 현대 루키즘">
                </div>
                <div class="join_body_item_groupName">
                    [도리언 그레이의 초상] 현대 루키즘
                </div>
            </div>
            <div class="feed__join_body_item">
                <div class="join_body_item_book">
                    <img src="/static/images/home/exchange_4.jpg" alt="유령해마">
                </div>
                <div class="join_body_item_groupName">
                    유령해마
                </div>
            </div>
            <div class="feed__join_body_item">
                <div class="join_body_item_book">
                    <img src="/static/images/home/exchange_5.jpg" alt="외계인으로부터지구를지키는101가지방법">
                </div>
                <div class="join_body_item_groupName">
                    외계인으로부터지구를지키는101...
                </div>
            </div>
            <div class="feed__join_body_item">
                <div class="join_body_item_book">
                    <img src="/static/images/home/exchange_6.jpg" alt="[종의 기원담] 우리는 어디에서 오는가">
                </div>
                <div class="join_body_item_groupName">
                  [종의 기원담] 우리는 어디에서 오는...
                </div>
            </div>
            <div class="feed__join_body_item">
                <div class="join_body_item_book">
                    <img src="/static/images/home/exchange_7.jpg" alt="지옥행급행열차출발합니다">
                </div>
                <div class="join_body_item_groupName">
                  지옥행급행열차출발합니다
                </div>
            </div>
            <div class="feed__join_body_item">
                <div class="join_body_item_book">
                    <img src="/static/images/home/exchange_8.jpg" alt="[이방인] 카뮈가 말하는 부조리">
                </div>
                <div class="join_body_item_groupName">
                  [이방인] 카뮈가 말하는 부조리
                </div>
            </div>
        </div>
    </div>
  </div> 
{% endif %}

  
  <section class="ranking">
    <div>
      <p class="ranking__title"><i class="fa-solid fa-comment-dots"></i>리뷰 순위 Top 5</p>
    </div>
    <div class="CIirP0cq">
      <div class="listWrapper">
        <ul>
          <li class="w_exposed_cell">
            <a title="윈드 브레이커 공식 캐릭터북 극비 노트">
              <div class="book-cover-container">
                <img class='book__cover' alt="content" src="/static/images/home/ranking_1.jpg">
                <div class="rank">1</div>
              </div>
              <div class="bVUVO8nJ">
                <div class="book__title">윈드 브레이커 공식 캐릭터북 극비 노트</div>
                <div class="rating">별점 ★ 3.7</div>
              </div>
            </a>
          </li>

          <li class="w_exposed_cell">
            <a title="결국 국민이 합니다 : 이재명의 인생과 정치철학">
              <div class="book-cover-container">
                <img class='book__cover' alt="content" src="/static/images/home/ranking_2.jpg">
                <div class="rank">2</div>
              </div>
              <div class="bVUVO8nJ">
                <div class="book__title">결국 국민이 합니다 : 이재명의 인생과 정치철학</div>
                <div class="rating">별점 ★ 3.7</div>
              </div>
            </a>
          </li>

          <li class="w_exposed_cell">
            <a title="순간을 달리는 할머니">
              <div class="book-cover-container">
                  <img class='book__cover' alt="content" src="/static/images/home/ranking_3.jpg">
                  <div class="rank">3</div>
              </div>
              <div class="bVUVO8nJ">
                <div class="book__title">순간을 달리는 할머니</div>
                <div class="rating">별점 ★ 3.5</div>
              </div>
            </a>
          </li>

          <li class="w_exposed_cell">
            <a title="순간을 달리는 할머니">
              <div class="book-cover-container">
                <img class='book__cover' alt="content" src="/static/images/home/ranking_4.jpg" >
                <div class="rank">4</div>
              </div>
              <div class="bVUVO8nJ">
                <div class="book__title">순간을 달리는 할머니</div>
                <div class="rating">별점 ★ 3.7</div>
              </div>
            </a>
          </li>

          <li class="w_exposed_cell">
            <a title="미술관에 간 할미">
              <div class="book-cover-container">
                <img class='book__cover' alt="content" src="/static/images/home/ranking_5.jpg">
                <div class="rank">5</div>
              </div>
              <div class="bVUVO8nJ">
                <div class="book__title">미술관에 간 할미</div>
                <div class="rating">별점 ★ 3.7</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <p class="ranking__title"><i class="fa-solid fa-chart-simple"></i>조회수 순위 Top 5</p>
    </div>
    <div class="CIirP0cq">
      <div class="listWrapper">
        <ul>
          <li class="w_exposed_cell">
            <a title="샨티">
              <div class="book-cover-container">
                <img class='book__cover' alt="content" src="/static/images/home/ranking_6.jpg">
                <div class="rank">1</div>
              </div>
              <div class="bVUVO8nJ">
                <div class="book__title">샨티</div>
                <div class="rating">별점 ★ 4.5</div>
              </div>
            </a>
          </li>
        
          <li class="w_exposed_cell">
            <a title="불멸의 유전자">
              <div class="book-cover-container">
                <img class='book__cover' alt="content" src="/static/images/home/ranking_7.jpg">
                <div class="rank">2</div>
              </div>
              <div class="bVUVO8nJ">
                <div class="book__title">불멸의 유전자</div>
                <div class="rating">별점 ★ 4.5</div>
              </div>
            </a>
          </li>

          <li class="w_exposed_cell">
            <a title="2025 심우철 실전 동형 모의고사 Season">
              <div class="book-cover-container">
                <img class='book__cover' alt="content" src="/static/images/home/ranking_8.jpg">
                <div class="rank">3</div>
              </div>
              <div class="bVUVO8nJ">
                <div class="book__title">2025 심우철 실전 동형 모의고사 Season</div>
                <div class="rating">별점 ★ 4.5</div>
              </div>
            </a>
          </li>

          <li class="w_exposed_cell">
            <a title="토막 난 우주를 안고서">
              <div class="book-cover-container">
                <img class='book__cover' alt="content" src="/static/images/home/ranking_9.jpg">
                <div class="rank">4</div>
              </div>
              <div class="bVUVO8nJ">
                <div class="book__title">토막 난 우주를 안고서</div>
                <div class="rating">별점 ★ 4.5</div>
              </div>
            </a>
          </li>
        
          <li class="w_exposed_cell">
            <a title="무엇도 홀로 존재하지 않는다">
              <div class="book-cover-container">
                <img class='book__cover' alt="content" src="/static/images/home/ranking_10.jpg">
                <div class="rank">5</div>
              </div>
              <div class="bVUVO8nJ">
                <div class="book__title">무엇도 홀로 존재하지 않는다</div>
                <div class="rating">별점 ★ 3.3</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <p class="ranking__title"><i class="fa-solid fa-bookmark"></i>북마크 순위 Top 5</p>
    </div>
    <div class="CIirP0cq">
      <div class="listWrapper">
        <ul>
          <li class="w_exposed_cell">
            <a title="안녕이라 그랬어">
              <div class="book-cover-container">
                <img class='book__cover' alt="content" src="/static/images/home/ranking_11.jpg">
                <div class="rank">1</div>
              </div>
              <div class="bVUVO8nJ">
                <div class="book__title">안녕이라 그랬어</div>
                <div class="rating">별점 ★ 4.5</div>
              </div>
            </a>
          </li>
        
          <li class="w_exposed_cell">
            <a title="유지만 다이어트 레시피">
              <div class="book-cover-container">
                <img class='book__cover' alt="content" src="/static/images/home/ranking_12.jpg">
                <div class="rank">2</div>
              </div>
              <div class="bVUVO8nJ">
                <div class="book__title">유지만 다이어트 레시피</div>
                <div class="rating">별점 ★ 4.5</div>
              </div>
            </a>
          </li>

          <li class="w_exposed_cell">
            <a title="믿을 구석 The Last Resort">
              <div class="book-cover-container">
                <img class='book__cover' alt="content" src="/static/images/home/ranking_13.jpg">
                <div class="rank">3</div>
              </div>
              <div class="bVUVO8nJ">
                <div class="book__title">믿을 구석 The Last Resort</div>
                <div class="rating">별점 ★ 4.0</div>
              </div>
            </a>
          </li>

          <li class="w_exposed_cell">
            <a title="첫 여름, 완주">
              <div class="book-cover-container">
                <img class='book__cover' alt="content" src="/static/images/home/ranking_14.jpg">
                <div class="rank">4</div>
              </div>
              <div class="bVUVO8nJ">
                <div class="book__title">첫 여름, 완주</div>
                <div class="rating">별점 ★ 4.5</div>
              </div>
            </a>
          </li>
        
          <li class="w_exposed_cell">
            <a title="소설 보다: 여름">
              <div class="book-cover-container">
                <img class='book__cover' alt="content" src="/static/images/home/ranking_15.jpg">
                <div class="rank">5</div>
              </div>
              <div class="bVUVO8nJ">
                <div class="book__title">소설 보다: 여름</div>
                <div class="rating">별점 ★ 2.2</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>

{% endblock content %}
{% block extra_js %}
  <script src="/static/js/mainbanner.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
{% endblock %}