
  .modal_right {
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .full {
    width:100%;
    height:100%;
    
  }
  .full h2{
    color:#2D7868;
    text-align:center;
  }

  .menu-box {
    margin:50px;
  }

  .menu-box li {
    width:150px;
    height:60px;
    list-style-type: none;
    padding-left: 0;
    border:2px solid #2D7868;
    font-size:20px;
    padding:5px;
    background:rgb(255, 255, 255);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  

  .login-box {
    background-color:rgb(245, 245, 245);
    width:600px;
    border:3px solid #2D7868; border-radius: 7px; width:500px;
    
  }
  .login-btn {
    
    width:180px;
    height:50px;
    background: #2D7868;
    color: #fafafa;
    font-size:15px;
    border: none;
    font-weight: bold;
    border-radius: 7px;
    cursor: pointer;
    margin-top:-28px;
  }

  .login-box .idpw {
    width:180px; height:50px; margin-bottom:20px; border: 1px solid #ccc; border-radius:7px;
    font-size:15px; background-color: #fafafa; padding: 15px; font-weight: 400; margin-top:-28px;
  }
  .idpw:focus {
  outline: 1.5px solid gray;
}


  

  .checkbox-container {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-top: 10px;
      padding-left:20px;
      
    }

    

    .checkbox-container p {
      margin: 0;
      font-weight: normal;
      font-size: 14px;
      
    }
  
    
    .inmail, .innum {
      display: flex;
      justify-content: center;
      gap: 10px;
      height: 38px;
      margin-bottom: 20px;
    }

    form[name='findFrm'] {
    margin-top: 20px;
    padding-top: 40px;
    border-top: 1px solid #1a1a1a;
    
  
    
}


.qtqt {
  display: flex;
  justify-content: center;
  
}

#foundIdSection {
  text-align:center; display: none;
}

#foundIdSection p {
  color:#2D7868;
}

.qrqr {
  text-align:center; font-size:15px;
}

.qeqe {
  text-align: center; padding-bottom:50px;
}

.inid {
  margin-left:62px; margin-bottom:15px;
}

#passwordResetSection{
  text-align:center; display: none;
}

#passwordResetSection p{
  color:#2D7868;
}

.help {
  text-align:center; font-size:15px;
}

.bbtbt {
  text-align: center; padding-bottom:50px;
}