{% extends 'base.html' %}
{% load static%}

{% block title %}꼬북늬우ㅡ수{% endblock %}

{% block extra_css %}
<!-- <link rel="stylesheet" href="{% static 'css/example.css' %}"> -->
<link rel="stylesheet" href="/static/css/bookdetail.css"/>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}

{% block content %}

    <div style="width:100%; height:300px;margin-bottom:100px; display: flex; justify-content: center; align-items: center;">
      <div style="text-align: center;">
        <p style="margin: 0; font-size:80px;font-family: 'HakgyoansimDunggeunmisoTTF-B';">꼬북NEWS</p>
        <p>꼬북꼬북 이용자 월간 통계를 한눈에 보여드립니다!</p>
        <select name="category_inq" id="ctgr_inq" class="ctgr_inq">
          <option value="july2025">2025년 7월</option>
          <option value="june2025">2025년 6월</option>
          <option value="may2025">2025년 5월</option>
        </select>
      </div>
    </div>
      <div style="width:100%;height:300px;border:1px solid black;margin-bottom:50px;">
        <p style='width:100%;text-align:center;'>7월 한 달 꼬북꼬북에 가입한 이용자수 하루 평균 "n명"</p>
      </div>
      <div style="width:100%;height:400px;border:1px solid black;margin-bottom:50px;">
        <p>n월 일자별 가입인원 추이 차트(선형)</p>
        <canvas id="joinChart"></canvas>
      </div>

      <div class="feed__content">
        <div class="chart_sReading_container sReading">
            <p>이달의 장르</p>
            <table>
              <tr>
                <td style='display:flex;justify-content:space-between;'><i class="fa-solid fa-quote-left"></i><i class="fa-solid fa-quote-right"></i></td>
              </tr>
              <tr>
                <td style='font-size:45px;'>컴퓨터</td>
              </tr>
            </table>
             
                <p>총 nnn명의 이용자들이 "컴퓨터" 태그를 추가했어요.</p>


              </div>
              <div class="chart_sReading_container sReading">
                <div class="sReading_wrap" style='text-align:center; display:inline-block;margin:0 auto;'>
                  
                  <p>선호장르 그래프(원형)</p>
                  <canvas id="genChart"></canvas>

          </div>
          

        </div>
      </div>
      <div style="width:100%;height:200px;border:1px solid black;margin-bottom:50px;">
        <p STYLE='display:inline-block;width:100px;background-color:yellow;'>교환독서</p>
        <p>함께 읽고 함께 감상을 나누기</p>
        <p>회원 한명당 약 n권의 책을 읽었어요</p>
      </div>
      <div style="width:100%;height:500px;border:1px solid black;margin-bottom:50px;">
        <p>교환독서 그룹 생성 추이(선형)</p>
        <canvas id="shareChart"></canvas>
      </div>


      <div class="feed__content">
        <div class="chart_sReading_container sReading">
          <div class="sReading_wrap" style='text-align:center; display:inline-block;margin:0 auto;'>
            <p>이달의 태그</p>
            <table>
              <tr>
                <td style='display:flex;justify-content:space-between;'><i class="fa-solid fa-quote-left"></i><i class="fa-solid fa-quote-right"></i></td>
              </tr>
              <tr>
                <td style='font-size:45px;'>만화책잼잇다히히</td>
              </tr>
            </table>
             
                <p>총 nnn명의 이용자들이 "만화책잼잇다히히" 태그를 추가했어요.</p>


            
          </div>

          <div class='sReading_body'>
            
          </div>
        </div>
        <div class="chart_sReading_container chartdraw">
          <p>이달의 태그 사용 현황 차트 들어올 자리(원형)</p>
          <canvas id="tagChart"></canvas>
        </div>
      </div>
      
      <div style="width:100%;height:500px;border:1px solid black;margin-bottom:50px;">
        <p>리뷰 수 차트(선형)</p>
        <canvas id="reviewChart"></canvas>
      </div>

      <div style='width:100%;height:200px;display:flex; justify-content:center;align-items:center;border:1px solid #2d7868;'>
        <button style='background-color:#2d7868;color:white;'>교환독서 시작하기</button>
      </div>

{% endblock %}

{% block extra_js %}
<script src="/static/js/bookdetail.js"></script>
{% endblock %}